* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.title {
    text-align: center;
    margin: 20px 0;
}

.main-article {
    display: flex;
    margin: 0 auto;
    width: 600px;
    gap: 20px;
}

.main-article img {
    width: 300px;
}

.main-grid {
    display: flex;
    margin: 40px 100px;
    text-align: center;
    gap: 20px;

}

.main-grid img {
    width: 300px;
}