* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header {
    display: flex;
    justify-content: space-around; /* Espaçamento dos elementos */
    margin: 15px;
}

header img {
    width: 20px;
}

input {
    height: 30px;
}

.midias {
    display: flex;
    gap: 10px;
    align-items: center; /* afeta por conta do eixo */
}

.hamburguer {
    width: 40px;
    height: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; /* é usada para alinhar os elementos */
    position: relative;
    
}

.hamburguer:hover .linha:nth-child(1) {
    transform: rotate(45deg); /* Gira a linha 1 */
    position: absolute;
    top: 12px; /* altura do elemento */
    transition: 1s; /* tempo da animação */
}

.hamburguer:hover .linha:nth-child(2) {
    display: none;
}

.hamburguer:hover .linha:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
    bottom: 6px; /* base do elemento */
    transition: 1s;
}

.linha {
    width: 100%;
    height: 3px;
    background-color: #000000;
}

.title {
    text-align: center;
    margin: 20px 0;
}

.main-article {
    display: flex;
    margin: 0 auto;
    width: 700px;
    gap: 20px;
}

.main-article img {
    width: 300px;
}

.main-grid {
    display: flex;
    margin: 40px 100px;
    text-align: center;
    gap: 20px;

}

.main-grid img {
    height: 300px;
}