* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
}

header img {
    width: 20px;
}

.midias {
    display: flex;
    gap: 10px;
    align-items: center;
}

.title {
    text-align: center;
    margin: 20px 0;
}

.main-article {
    display: flex;
    margin: 0 auto;
    width: 700px;
    gap: 20px;
}

.main-article img {
    width: 300px;
}

.main-grid {
    display: flex;
    margin: 40px 100px;
    text-align: center;
    gap: 20px;

}

.main-grid img {
    height: 300px;
}